<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Curso de java script</title>
</head>


<body>
    <div id="app">
        <h1>Curso viejs</h1>
        <h3>{{titulo}}</h3>
        <ul>
            <li v-for="fruta of frutas">{{fruta}}</li>
        </ul>
        <ul>
            <li v-for="persona of personas">{{persona.nombre}} {{persona.edad}}
                <span v-if="persona.edad>40">viejo</span>
            </li>
            
        </ul>
    </div>

<script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
<script src="js/curso.js"></script>
</body>

</html>